@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700&display=swap");

/*===Style Start
=================*/
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    overflow-x: hidden;
}

a:hover {
    text-decoration: none;
    color: #000;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

input:focus,
input:hover,
select:focus,
select:hover {
    outline: none;
    box-shadow: none;
}
p {
    font-family: "Lato", sans-serif;
    color: #2e2b2b;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
}
.bebasnew {
    font-family: "Bebas Neue", cursive;
}
.lato {
    font-family: "Lato", sans-serif;
}

.main-heading {
    color: #000;
    font-family: "Bebas Neue", cursive;
    font-size: 39px;
    line-height: 1.2;
}

.primery-button {
    background: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    padding: 12px 29px;
}
.orange-btm {
    background: #f25d23;
    color: #fff;
}
.orange-btm:hover {
    background: #fbb033;
    color: #fff;
}

/*====Header
==============*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap;*/
}

.left-header {
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.navigation {
    margin: auto;
}

.logo {
    display: block;
    padding: 0 32px;
}
.logo img {
    height: 63px;
}

.menu {
}
.menu > li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 37px 0;
}
.menu > li > a {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 0 15px;
}
.menu > li > a:hover,
.menu > li ul li a:hover {
    color: #f25d23;
}
.menu > li > a span {
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -3px;
    font-size: 11px;
}

.menu > li ul {
    position: absolute;
    top: 100%;
    min-width: 248px;
    display: none;
    z-index: 6;
    background: #fff;
    padding: 4px 5px;
}
.menu > li:hover ul {
    display: block;
}

.menu > li ul li a {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 3px 12px;
    display: block;
}

.button-list {
    background: #f25d23;
    display: flex;
    max-width: 373px;
    width: 100%;
}
.button-list li {
    flex: 1 0 0;
}
.button-list li a {
    color: #fff;
    padding: 19px 0px;
    display: block;
    text-align: center;
    border-right: 1px solid #fff;
}
.button-list li:last-child a {
    border-right: 0;
}
.button-list li a span {
    display: block;
    margin-bottom: 14px;
}

.ham {
    max-width: 62px;
    width: 100%;
    cursor: pointer;
    padding: 0px 15px;
    display: none;
}
.ham span {
    display: block;
    background: #192146;
    height: 3px;
    margin-bottom: 6px;
}
.ham span:last-child {
    margin-bottom: 0;
}

/*=====Banner
===============*/

.banner {
    position: relative;
    z-index: 2;
    height: 670px;
}
.banner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.banner-heading {
    font-size: 60px;
    color: #fff;
    text-align: center;
    line-height: 1;
}

.banner-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1140px;
    margin: auto;
    text-align: center;
    padding: 0 15px;
    width: 100%;
}
.search-area {
    background: rgba(255, 255, 255, 0.3);
    padding: 11px;
    margin-top: 50px;
}

.search-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.search-list li {
    flex: 1 0 0;
    position: relative;
    border-right: 1px solid #ccc;
}
.search-list li:last-child {
    border-right: 0;
}
.search-list li span {
    position: absolute;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    left: 12px;
}
.search-list li input[type="text"],
.search-list li select {
    width: 100%;
    height: 57px;
    background: #fff;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0 10px 0 45px;
    font-size: 14px;
    color: #4e4e4e;
}
.search-list li select {
    padding: 0 10px 0 45px;
    appearance: none;
    background: #fff url("../images/select-dropdown.png") no-repeat 92% center;
}
.search-list li.keyword {
}
.search-list li.postcode {
}
.search-list li.category {
}

.search-list li.button {
    max-width: 164px;
    flex: 0 0 164px;
}

.search-list li input[type="submit"] {
    background: #f25d23;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    border: none;
    display: block;
    width: 100%;
    height: 57px;
}

.category-place {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 22px 0;
}
.cat-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.cat-list li {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.cat-list li a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.cat-list li figure {
}

/*========Advertisement section
=====================================*/

.add-section {
    padding: 64px 0;
}
.text-button {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    display: inline-block;
}
.text-button:hover {
    color: #f26023;
}
.gray-section {
    background: #f5f5f5;
    padding: 53px 0;
    text-align: center;
}
.event-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    margin: 55px 0;
}
.event-list li {
    padding: 4px 4px;
}
.event-list li:first-child {
    max-width: 50%;
    flex: 0 0 50%;
    min-height: 500px;
}
.event-list li:first-child .inner-box {
    height: 100%;
}
.event-list li:nth-child(2),
.event-list li:last-child {
    max-width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 250px;
}
.event-list li:last-child {
    height: 250px;
    top: 250px;
}
.event-list li .inner-box {
    position: relative;
    height: 100%;
    z-index: 3;
}
.event-list li .inner-box:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
    z-index: -1;
}
.event-list li .inner-box .caption-area {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    color: #fff;
    padding: 0 28px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event-list li .inner-box .caption-area h3 a {
    color: #fff;
    font-size: 31px;
    display: block;
    line-height: 1.2;
    font-weight: 400;
}
.events-tag {
    background: #fbb033;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-radius: 60px;
    padding: 7px 34px;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 0 5px rgb(255 255 255 / 30%);
}

.events-tag:hover {
    background: #f25d23;
    color: #fff;
}

/*=====Community section
============================*/

.white-section {
    text-align: center;
    padding: 53px 0;
}
.community-list {
    margin: 55px 0 !important;
}
.community-list li {
    text-align: left;
    padding: 6px;
}
.community-list li .inner-box {
}
.community-list li .inner-box figure {
    min-height: 230px;
    margin-bottom: 0;
}
.community-list li .inner-box figcaption {
    background: #f4f2f2;
    padding: 32px 26px;
}
.community-list li .inner-box figcaption h4 {
    font-size: 20px;
    color: #000;
    line-height: 1.2;
    margin-bottom: 26px;
}

.slick-dots li button:before {
    width: 24px;
    height: 24px;
    font-size: 73px;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #012d6a;
}

/*=====Top rated section
============================*/

.top-list {
    margin: 55px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.top-list > li {
    max-width: 33.33%;
    flex: 0 0 33.33%;
    padding: 0 6px;
    min-height: 250px;
}
.top-list > li .inner-box {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 4;
    padding: 0 18px;
}
.top-list > li .inner-box:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
    z-index: -1;
}
.grid-content {
    display: block;
    text-align: left;
    padding-bottom: 17px;
}
.grid-content hr {
    border-color: rgba(255, 255, 255, 0.3);
    margin-left: -18px;
    margin-right: -18px;
}

.grid-content .shop-heading {
    display: block;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 13px;
}
.grid-content .place {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.grid-content .place span {
    margin-right: 10px;
}
.comment-list {
    display: flex;
    align-items: center;
}
.comment-list li {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-right: 1px solid #fff;
    line-height: 1;
    padding: 0px 9px;
}
.comment-list li:last-child {
    border-right: 0;
    line-height: 0;
    padding-right: 0;
    margin-right: 0;
}
.comment-list li:first-child {
    padding-left: 0;
}
.comment-list li span {
    line-height: 1;
    margin-right: 12px;
    font-size: 0;
}
.comment-list li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.comment-list li .review-link {
    margin-left: 12px;
}
.top-list > li .inner-box .rating {
    position: absolute;
    top: 18px;
    background: #f25d23;
    padding: 4px 7px;
}

/*===counter section
=======================*/

.counter-section {
    position: relative;
    z-index: 3;
    padding: 111px 0;
}
.counter-section:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fbb033+0,f25d23+100&0.81+1,0.81+100 */
    background: -moz-linear-gradient(
        left,
        rgba(251, 176, 51, 0.81) 0%,
        rgba(251, 175, 51, 0.81) 1%,
        rgba(242, 93, 35, 0.81) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        left,
        rgba(251, 176, 51, 0.81) 0%,
        rgba(251, 175, 51, 0.81) 1%,
        rgba(242, 93, 35, 0.81) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to right,
        rgba(251, 176, 51, 0.81) 0%,
        rgba(251, 175, 51, 0.81) 1%,
        rgba(242, 93, 35, 0.81) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cffbb033', endColorstr='#cff25d23',GradientType=1 ); /* IE6-9 */
}
.counter-list {
    text-align: center;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.counter-list li {
}
.counter-list li figure {
    font-family: "Bebas Neue", cursive;
    font-size: 50px;
    line-height: 1;
    margin-bottom: 0;
}
.counter-list li figcaption {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

/*=====Offer Section
=========================*/

.offers-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    margin: 55px 0 0;
}
.offers-list > li {
    padding: 4px 4px;
}
.offers-list > li:first-child {
    max-width: 50%;
    flex: 0 0 50%;
    min-height: 500px;
}
.offers-list > li .inner-box {
    position: relative;
    z-index: 2;
    height: 100%;
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.offers-list > li .inner-box:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
    z-index: -1;
}

.offers-list > li:nth-child(2),
.offers-list > li:nth-child(3),
.offers-list > li:nth-child(4),
.offers-list > li:last-child {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 25%;
    width: 100%;
    height: 250px;
}
.offers-list > li:nth-child(2) {
    right: 25%;
}
.offers-list > li:nth-child(4) {
    top: 250px;
    right: 25%;
}
.offers-list > li:last-child {
    top: 250px;
}

/*====== Local Business
============================*/

.business-list {
    margin: 55px 0 0;
}
.business-list li {
    padding: 0 8px;
}
.business-list li .inner-box {
    min-height: 436px;
    position: relative;
    z-index: 2;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.business-list li .inner-box:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
    z-index: -1;
}
.slick-dots {
    bottom: -38px;
}

/*=== Newsletter Section
============================*/

.newsletter-section {
    border-top: 1px solid #e2dfdf;
    border-bottom: 1px solid #e2dfdf;
    padding: 55px 0;
}
.news {
    display: flex;
    justify-content: space-between;
}
.news input[type="text"] {
    background: #f7f5f5;
    height: 57px;
    width: 100%;
    border: none;
    padding: 0 29px;
    font-size: 16px;
}
.news input[type="submit"] {
    background: #f25d23;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 0 49px;
}

/*====== Footer
===================*/

footer {
    padding: 53px 0 0;
}

.footer-logo {
    margin-bottom: 20px;
    display: inline-block;
}
.footer-logo img {
    height: 100px;
}
.footer-heading {
    font-family: "Bebas Neue", cursive;
    color: #000;
    font-size: 29px;
    display: block;
    margin-bottom: 20px;
}
.footer-list {
}
.footer-list li {
    margin-bottom: 12px;
}
.footer-list li a {
    display: block;
    color: #434343;
    font-size: 13px;
    font-weight: 700;
}
.footer-list li a:hover {
    color: #f25d23;
}
.copyright {
    border-top: 1px solid #e2dfdf;
    display: block;
    text-align: center;
    padding: 25px 0;
    margin-top: 48px;
    font-weight: 700;
}
/*========================================================================================
                                        Search Result
========================================================================================*/
.breadcumb_wrap {
    background-color: #012d6a;
    padding: 7px 0;
}
.breadcumb_list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.breadcumb_list li {
    color: #fff;
    margin-right: 13px;
    font-size: 14px;
}
.breadcumb_list li a {
    color: #fff;
}
.history_grid_header {
    padding: 21px 0;
    background-color: #efefef;
    border-bottom: 1px solid #cccccc;
}
.history_grid_header-mod {
    padding: 11px 0;
    border-bottom: 0;
}
.history_grid_header .nav-tabs .nav-item.show .nav-link,
.history_grid_header .nav-tabs .nav-link.active {
    color: #ffffff;
    border: 0;
}
.history_grid_header .nav-tabs {
    border-bottom: 0;
    display: inline-flex;
}
.history_grid_header .nav-tabs .nav-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;
    vertical-align: top;
}
.history_grid_header .nav-tabs .nav-link {
    border: 0;
    border-radius: 0;
    padding: 0 15px;
    background-color: #efefef;
}
.history_grid_header .nav-tabs .nav-link .display-none {
    display: block;
}
.history_grid_header .nav-tabs .nav-link .display-block {
    display: none;
}
.history_grid_header .nav-tabs .nav-link.active .display-none {
    display: none;
}
.history_grid_header .nav-tabs .nav-link.active .display-block {
    display: block;
}
.history_grid_body {
    padding: 40px 0 90px;
    background-color: #efefef;
}
.history_grid_body-mod {
    background-color: #fff;
}
.result_tab_title {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-left: 6px;
}
.result_tab_title a {
    color: #012d6a;
}
.history_list {
    font-size: 0;
    margin-top: 30px;
    margin-bottom: 44px;
}
.history_list li {
    display: inline-block;
    width: calc((100% - 24px) / 2);
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 26px;
    margin: 6px;
}
.place_title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.location {
    font-size: 15px;
    margin-bottom: 10px;
    color: #000;
}
.location img {
    margin-right: 13px;
}
.rating {
    font-size: 15px;
    color: #777777;
    margin-bottom: 10px;
}
.rating img {
    margin-right: 13px;
}
.phone_call {
    font-size: 15px;
    margin-bottom: 20px;
    color: #000;
}
.phone_call img {
    margin-right: 13px;
}
.history_details {
    font-size: 15px;
    line-height: 1.93;
    color: #454545;
}
.load_btn {
    font-size: 17px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 29px;
    width: 198px;
    height: 53px;
    margin: auto;
}
.result_tab_title_wrap {
    background: url(../images/web-search-engine.png) center top no-repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 165px 0 80px;
}
.result_tab_title_wrap p {
    margin: 0;
    font-weight: 300;
    color: #454545;
}
.search_form_wrap {
    position: relative;
}
.search_form_wrap input {
    width: 343px;
    height: 50px;
    background-color: #fff;
    border: 0;
    padding: 18px 58px 18px 20px;
}
.search_form_wrap button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    width: auto;
    height: auto;
    padding: 0 18px;
}
.search_list_items {
    font-size: 0;
    margin-bottom: 70px;
}
.search_list_items > li {
    display: inline-block;
    width: calc((100% - 36px) / 3);
    font-size: 0;
    padding: 11px;
    border: 1px solid rgba(18, 18, 18, 0.21);
    margin: 0 6px 26px;
    vertical-align: top;
}
.location_img_wrap {
    position: relative;
}
.location_img_wrap:before {
    position: absolute;
    content: "";
    background: rgb(92, 92, 92);
    background: -moz-linear-gradient(
        0deg,
        rgba(43, 43, 43, 1) 0%,
        rgba(249, 249, 249, 0) 100%
    );
    background: -webkit-linear-gradient(
        0deg,
        rgba(43, 43, 43, 1) 0%,
        rgba(249, 249, 249, 0) 100%
    );
    background: linear-gradient(
        0deg,
        rgba(43, 43, 43, 1) 0%,
        rgba(249, 249, 249, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5c5c5c",endColorstr="#f9f9f9",GradientType=1);
    width: 100%;
    height: 103px;
    bottom: 0;
    left: 0;
}
.list_content_wrap {
    padding: 21px 6px 15px;
}
.location_img_wrap > img {
    width: 100%;
    height: 200px;
    max-width: 100%;
}
.rating_coments {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 19px 7px 5px;
    border-bottom: 1px solid #dededd;
}
.rating_coments li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-right: 1px solid #b0b0b0;
    padding-right: 14px;
    margin-right: 8px;
}
.rating_coments li:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}
.rating_coments li img {
    margin-right: 8px;
}
.rating_coments li:nth-child(1) img {
    width: 21px;
    height: 21px;
}
.rating_coments li:nth-child(2) img {
    width: 15px;
    height: 15px;
}
.rating_coments li h5 {
    font-size: 23px;
    margin: 0;
    line-height: 1;
}
.rating_coments li h5 span {
    display: inline-block;
    font-size: 14px;
    color: #171717;
    margin-left: 3px;
    margin-top: -6px;
    vertical-align: middle;
}
.list_content_wrap .place_title {
    font-size: 22px;
}
.list_content_wrap .phone_call {
    margin-bottom: 10px;
}
.list_content_wrap a {
    display: block;
    /* width: 19px; */
    margin-left: auto;
}
.search_list_items-mod > li {
    display: flex;
    width: 100%;
    padding: 7px;
    margin-left: 0;
}
.search_list_items-mod > li .location_img_wrap > img {
    width: 503px;
    height: 299px;
    max-width: 100%;
}
.search_list_items-mod > li .list_content_wrap {
    width: calc(100% - 503px);
    padding: 0 25px 0;
}
.search_list_items-mod > li .location_img_wrap:before {
    display: none;
}
.search_list_items-mod > li .rating_coments {
    position: relative;
    border-bottom: 0;
    margin-bottom: 26px;
}
.search_list_items-mod > li .list_content_wrap .place_title {
    font-size: 40px;
    margin-bottom: 22px;
}
.location_details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 6px;
}
.location_details p {
    margin-right: 30px;
}
.location_details p:last-child {
    margin-right: 0;
}

/*=====Responsive
=====================*/

@media (max-width: 1430px) {
    .menu > li {
        padding: 38px 0;
    }
    .banner-heading {
        font-size: 45px;
    }

    .banner-inner {
        top: 42%;
    }
    .menu > li > a {
        padding: 0 11px;
    }
}

@media (max-width: 1349px) {
    .ham {
        display: block;
    }
    .left-header {
        justify-content: flex-end;
        align-items: center;
        padding-right: 6px;
    }

    .navigation {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        background: #192146;
        z-index: 77;
        max-width: 220px;
        width: 100%;
        padding: 24px 0;
        overflow-y: auto;
        transform: translateX(100%);
        transition: all 0.4s ease-in-out;
    }
    .menu > li {
        padding: 0px 0 8px;
        display: block;
        margin-bottom: 8px;
        border-bottom: 1px solid #0e1228;
    }
    .menu > li > a {
        font-size: 16px;
        color: #fff;
    }
    .menu > li > a span {
        top: 8px;
        right: 17px;
        transform: translateY(0%);
    }

    .menu > li ul {
        min-width: 100%;
    }
    .button-list {
        max-width: 270px;
    }

    .navigation.slide {
        transform: translateX(0);
    }
}

@media (max-width: 1199px) {
    .cat-list li a {
        font-size: 13px;
    }
    .event-list li .inner-box .caption-area h3 a {
        font-size: 25px;
    }
    .community-list li .inner-box figcaption h4 {
        font-size: 18px;
    }
    .grid-content .shop-heading {
        font-size: 19px;
    }
    .comment-list li a {
        font-size: 12px;
    }
}

@media (max-width: 991px) {
    .category-place {
        display: none;
    }
    .banner-inner {
        top: 50%;
    }
    .event-list li .inner-box .caption-area {
        align-items: flex-start;
        flex-direction: column;
    }
    .event-list li .inner-box .caption-area h3 a {
        margin-bottom: 16px;
    }
    .top-list > li {
        max-width: 50%;
        flex: 0 0 50%;
        margin-bottom: 12px;
    }
    .offers-list > li:nth-child(2),
    .offers-list > li:nth-child(3),
    .offers-list > li:nth-child(4),
    .offers-list > li:last-child {
        position: static;
        max-width: 50%;
        width: 100%;
        height: 250px;
    }
    .offers-list > li:first-child {
        max-width: 50%;
        flex: 0 0 50%;
        min-height: 250px;
    }
}

@media (max-width: 820px) {
    .search-area {
        margin-top: 24px;
    }
    .search-list {
        flex-direction: column;
    }
    .search-list li {
        flex: 0 0 0;
        max-width: 100%;
        width: 100%;
        margin-bottom: 4px;
    }
    .search-list li.button {
        max-width: 100%;
        flex: 0 0 0;
    }
    .search-list li select {
        background-position: 97% center;
    }
}

@media (max-width: 767px) {
    .add-section {
        text-align: center;
    }
    .event-list li:first-child {
        min-height: 250px;
    }
    .event-list li:nth-child(2),
    .event-list li:last-child {
        position: static;
    }
    .event-list li .inner-box .caption-area h3 a {
        font-size: 21px;
    }
    .newsletter-section {
        text-align: center;
    }
    footer {
        text-align: center;
    }
}

@media (max-width: 575px) {
    .event-list li {
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }
    .top-list > li {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .counter-list {
        flex-direction: column;
    }
    .counter-list li {
        margin-bottom: 28px;
    }
    .offers-list > li {
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }
}

@media (max-width: 480px) {
    .button-list {
        max-width: 198px;
    }
    .button-list li a {
        padding: 13px 0px;
        font-size: 13px;
    }
    .button-list li a span {
        margin-bottom: 12px;
    }
    .banner-heading {
        font-size: 31px;
    }
    .business-list li .inner-box {
        min-height: 350px;
        padding: 0 16px;
    }
    .grid-content .shop-heading {
        font-size: 14px;
    }
}
